@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

@layer base {
  body {
    @apply antialiased;
    background: linear-gradient(to bottom right, #0C1D2D, #425492, #306A9A);
    background-size: 200% 200%; 
    animation: gradient-bg 6s ease infinite;
  }
   :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
  }
}